<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12 copy">
                <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by HolyBood.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-i">
                    <li><a class="facebook" href="https://www.facebook.com/facebook/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a class="twitter" href="https://twitter.com/explore" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="https://dribbble.com/" target="_blank"><i class="fa-brands fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="https://www.linkedin.com/home" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>