.nav-item{
    font-size: 1.2rem;
    padding: 1rem;    
}
.navbar{
    margin: 0 0 0 2rem;
    width: calc(100vw - 4rem);
}
.nav-link{
    color: black;
    margin-bottom: 0;
}
.home{
    color: tomato;
}
.primary-nav{
    border-bottom: 2px solid black;
}
.secondary-nav{
    padding: 0;
    border-bottom: 2px solid black;
}
.btn-nav{
    border: 0;
    background-color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
}