<div class="user-info">
    <div class="image">
        <img src={{myUser?.image}} alt="" class="profile-i">
    </div>
    <div class="data">
        <div class="names">
            <h1 class="nombre">{{myUser?.first_name}}</h1>
            <h2 class="apellido">{{myUser?.last_name}}</h2>
        </div>
        <p class="username"><span class="username-b">Nombre usuario:</span> {{myUser?.username}}</p>
        <p class="email"><span class="email-b">Email:</span> {{myUser?.email}}</p>
        <div class="d-flex all-btn">
            <button class="btn d-flex c-red" (click)="deleteUsers($event)" value={{myUser?.id}}>
                <p class="btn-text">Eliminar</p>
            </button>
            <button class="btn d-flex c-blue" [routerLink]="['/updateuser', myUser?.id]">
                <p class="btn-text">Actualizar</p>
            </button>
            <button class="btn d-flex c-grey" [routerLink]="'/home'">
                <p class="btn-text" value="delete">Volver al listado</p>
            </button>
        </div>
    </div>
</div>
