.card {
    padding: 6rem 8rem;
    font-size: 1.5rem;
    margin-top: 8rem;
    border: 1px solid grey;
    border-radius: 30px;
    width: max(100vw - 40rem, 50rem);
    margin-inline: auto;
}

.error{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 8rem;
    font-weight: 900;
}
.notfound{
    text-align: center;
    font-size: 2rem;
}
